body {
    background-color: #dddddd
   }

.navbar-light .navbar-brand {
    color: white;
}

.navbar-brand {
background-color: #4aaaa5;
color: white;
background-position: 15%;
text-align: center;
margin-left: 3%;
height: 80px;
font-size: 1.5em;
font-weight: bold;
padding: 25px;
text-decoration-color: white;
}
.navbar-nav.mr-auto {
    float: right;
    margin-left: 650px;
}

.container {
    clear: both;
    width: 720px;
    height: 720px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10;
    margin-bottom: 10%;
    margin: 10px auto 50px auto;
    background-color: white;
    padding: 3%;
    border: 50px solid #dddddd;
    overflow: hidden; 
    position: relative;
   }

.card-title {
    color: #4aaaa5;
}

form {
    padding: 11px;
    margin-top: 13px;
    margin-bottom: 13px;
  }

.btn-primary {
    background-color: #4aaaa5;
    color: white;
    width: 80px;
    height: 40px;
 }
 
.Hangman {
      text-align: center;
      background-color: #4aaaa5;
      color: white;
      margin-left: 25px;
      margin-top: -67px;
      width: 84.4%;
      height: 30px;
      float: left;
      position: absolute;
  }

  .RPGGames {
    clear: both;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    margin-left: -158px;
    margin-top: 120px;
    width: 27.5%;
    height: 30px;
    float: left;
    position: absolute;
}

.TriviaGames {
    clear: both;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    margin-left: 224px;
    margin-top: 120px;
    width: 19.5%;
    height: 30px;
    float: right;
    position: fixed;
}

  footer {
    left: 0px;
    background-color: #666666;
    border-top: 90px #4aaaa5;
    color: white; 
    text-align: center;
    padding: 0;
    line-height: 25px;
    width: 100%;
    margin-bottom: 0%;
    position: absolute; 
  }